<div class="main">
    <div class="logo">
        <img src="assets/img/logo.svg"/>
    </div>
    <div class="buttons">
        <div>
            <h1>Trabalhos</h1>
            <img src="assets/img/interview.svg"/>
        </div>
        <div>
            <h1>Cursos</h1>
            <img src="assets/img/online-course.svg"/>
        </div>
    </div>
    <div class="footer">
        <a>
            <img src="assets/img/user.svg"/>
        </a>
        <a>
            <img src="assets/img/icon.svg"/>
        </a>
    </div>
</div>