<div class="main">
    <div class="logo">
        <img src="assets/img/logo.png" />
    </div>
    <div class="buttons">
        <div (click)="openCourses()">
            <h1>Cursos</h1>
            <img src="assets/img/online-course.svg" />
        </div>
        <div (click)="openJobs()">
            <h1>Trabalhos</h1>
            <img src="assets/img/interview.svg" />
        </div>

    </div>
    <div class="footer">
        <a>
            <div class="user-name"> {{ user.name }} </div>
            <img src="assets/img/user.svg" />
        </a>
    </div>
</div>