<app-navigation-header></app-navigation-header>

<mat-accordion [multi]="true">


    <mat-expansion-panel [expanded]="'true'" *ngIf="myJobs && myJobs.length > 0">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Meus Trabalhos</h2>
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="jobs">

            <div class="curso" *ngFor="let job of myJobs">
                <div class="rotulo">
                    <div class="duracao">
                        <img src="assets/img/clock.svg" />
                        <span>R$ {{ toCurrency(job.money) }}</span>
                    </div>
                    <!-- <button mat-raised-button color="primary">Pegar Trabalho</button> -->
                </div>

                <div class="infos">
                    <h3 (click)="openJob(job)" class="link">{{ job.title }}</h3>
                    <div class="nivel">
                        <mat-chip-list>
                            <mat-chip *ngFor="let req of job.requirements" color="{{ req.userMeetRequirement ? 'primary' : '' }}">
                                {{ req.courseName }}
                            </mat-chip>

                        </mat-chip-list>
                    </div>
                    <p>{{ job.description }}</p>
                </div>
            </div>

        </div>
    </mat-expansion-panel>


    <mat-expansion-panel [expanded]="'true'" *ngIf="availableJobs && availableJobs.length > 0">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Trabalhos Disponíveis</h2>
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="jobs">


            <div class="curso" *ngFor="let job of availableJobs">
                <div class="rotulo">
                    <div class="duracao">
                        <img src="assets/img/clock.svg" />
                        <span>R$ {{ toCurrency(job.money) }}</span>
                    </div>
                    <button mat-raised-button color="primary" (click)="assignJob(job)">Pegar Trabalho</button>
                </div>

                <div class="infos">
                    <h3 (click)="openJob(job)" class="link"> {{ job.title }}</h3>
                    <div class="nivel">
                        <mat-chip-list>
                            <mat-chip *ngFor="let req of job.requirements" color="{{ req.userMeetRequirement ? 'primary' : '' }}">
                                {{ req.courseName }}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                    <p>{{ job.description }}</p>
                </div>
            </div>


        </div>
    </mat-expansion-panel>


</mat-accordion>