<header>
    <div class="menu">
        <div class="page-title">
            <img src="assets/img/online-course.svg"/> <h2>Cursos</h2>
        </div>
        <div class="page-title selected">
            <img src="assets/img/interview.svg"/> <h2>Trabalhos</h2>
        </div>
    </div>
    

    <div class="profile">
        <div class="saldo-dinheiro">
            <label>Minha Carteira</label>
            <b>R$226,23</b>
        </div>
        <div class="saldo-horas">
            <label>Banco de Horas</label>
            <b>20h</b>
        </div>
        <a>
            <img src="assets/img/user.svg"/>
        </a>
        <a>
            <img src="assets/img/icon.svg"/>
        </a>
    </div>
</header>

<h2 style="background: #ffffff9c;">Meus Trabalhos</h2>

<h2>Trabalhos Disponíveis</h2>
<div class="jobs">
    <div class="curso">
        <div class="rotulo">
            <img src="assets/img/dummy.png"/>
            <div class="duracao">
                <img src="assets/img/clock.svg"/>
                <span>R$5,00/h</span>
            </div>
        </div>
       
        <div class="">
            <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="nivel">
            <span><span>Avançado</span></span>
        </div>
        
    </div>
    <div class="curso">
        <div class="rotulo">
            <img src="assets/img/dummy.png"/>
            <div class="duracao">
                <img src="assets/img/clock.svg"/>
                <span>R$5,00/h</span>
            </div>
        </div>
        <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
        <div class=""></div>
        <div class="nivel">
            <span>Avançado</span>
        </div>
    </div>
    
</div>