<app-navigation-header></app-navigation-header>
<section *ngIf="job">
    <app-page-detail-header 
    [title]="job.title" 
    [description]="job.description"
    [onActionButton]="onActionButton"
    [actionContext]="this"
    [actionButton]="actionButton"
></app-page-detail-header>

    <div class="briefing">
        <h4>Objetivo</h4>
        <div [innerHTML]="job.objective"></div>

        <h4>Requisitos</h4>
        <ul> <li *ngFor="let req of job.requirements"> {{ req.courseName }} </li> </ul>

        <h4>Informações Técnicas</h4>
        <ul class="info-tecnica">
            <li><img src="assets/img/github.png" /> <a>Repositório Git</a></li>
            <li><img src="assets/img/user.png" /><i>Usuário:</i> desenvolvedor1</li>
            <li><img src="assets/img/key.png" /><i>Senha:</i> desen@038897</li>
        </ul>

        <h4>Descrição</h4> 
        <div [innerHTML]="job.extendedDescription"></div>

        <h4>Anexos</h4>
        <div class="anexos">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title>Prototipos.xd</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/img/adobexd.jpeg" alt="Protótipos">
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Download</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title>Prototipos.xd</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/img/adobexd.jpeg" alt="Protótipos">
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Download</button>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>
</section>