<app-navigation-header></app-navigation-header>
<!-- <h2>Meus Cursos</h2>
<div class="lista-cursos">
    <div class="curso">
        <div class="rotulo">
            <img src="assets/img/dummy.png"/>
            <div class="duracao">
                <img src="assets/img/clock.svg"/>
                <span>20h</span>
                <div class="avanco">
                    <div class="green">
                        20%
                    </div>
                </div>
            </div>
        </div>
        <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
        <div class=""></div>
        <div class="nivel">
            <span><span>Avançado</span></span>
        </div>
        
    </div>
    <div class="curso">
        <div class="rotulo">
            <img src="assets/img/dummy.png"/>
            <div class="duracao">
                <img src="assets/img/clock.svg"/>
                <span>20h</span>
                <div class="avanco">
                    <div class="green">
                        20%
                    </div>
                </div>
            </div>
        </div>
        <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
        <div class=""></div>
        <div class="nivel">
            <span>Avançado</span>
        </div>
    </div>
    
</div>

<h2>Cursos Disponíveis</h2>
<div class="lista-cursos">
    <div class="curso">
        <div class="rotulo">
            <img src="assets/img/dummy.png"/>
            <div class="duracao">
                <img src="assets/img/clock.svg"/>
                <span>20h</span>
                <div class="avanco">
                    <div class="green">
                        20%
                    </div>
                </div>
            </div>
        </div>
        <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
        <div class=""></div>
        <div class="nivel">
            <span><span>Avançado</span></span>
        </div>
        
    </div>
    <div class="curso">
        <div class="rotulo">
            <img src="assets/img/dummy.png"/>
            <div class="duracao">
                <img src="assets/img/clock.svg"/>
                <span>20h</span>
                <div class="avanco">
                    <div class="green">
                        20%
                    </div>
                </div>
            </div>
        </div>
        <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
        <div class=""></div>
        <div class="nivel">
            <span>Avançado</span>
        </div>
    </div>
    
</div> -->
<app-page-detail-header
    [title]="'Design Thinking com Crianças e Jovens: Aplicação e Exemplos'"
    [description]="'Como usar essa Abordagem Inovadora com Jovens dentro e fora da Sala de Aula'"
></app-page-detail-header>

<div class="briefing">
    <h4>O que você aprenderá</h4>
    <ul>
        <li>Automatizar a Criação e Configuração (as-a-code) de Imagens Jenkins</li>
        <li>Arquitetura de Larga Escala com AutoScale de Slaves via Kubernetes</li>
    </ul>

    <h4>Requisitos</h4>
    <p>Conhecimentos e Setup Básico de Jenkins, Docker e Kubernetes</p>

    <h4>Descrição</h4>
    <p>Problemas em manter diversas instalações de Jenkins, e suas respectivas configurações? Quer construir sua plataforma de CI em um modelo robusto via Jenkins? Neste curso iremos tratar:</p>
    <ul>
        <li>Administração de instâncias de Jenkins em escala;</li>
        <li>Abordagens de configuração as-a-code;</li>
        <li>Opções de automações dentro da ferramenta baseados em imagens Docker, Plugins e Códigos Groovy;</li>
        <li>Otimizar a utilização de recursos computacionais;</li>
        <li>Garantir reprodutibilidade entre instâncias de Jenkins;</li>
        <li>Minimizar trabalhos operacionais;</li>
    </ul>
    <h4>Conteúdo do curso</h4>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title>
                Introdução
            </mat-panel-title>
            <mat-panel-description>
                4 Aulas | 04:14:20
            </mat-panel-description>
            </mat-expansion-panel-header>
            <ul class="lista">
                <li>
                    <a>
                        <img src="assets/img/play-button.svg"/>
                        <h5>Introdução  e Conceitos</h5>
                        <b>14:20</b>
                    </a>
                </li>
                <li>
                    <a>
                        <img src="assets/img/play-button.svg"/>
                        <h5>Introdução  e Conceitos</h5>
                        <b>14:20</b>
                    </a>
                </li>
                <li>
                    <a>
                        <img src="assets/img/play-button.svg"/>
                        <h5>Introdução  e Conceitos</h5>
                        <b>14:20</b>
                    </a>
                </li>
                <li>
                    <a>
                        <img src="assets/img/play-button.svg"/>
                        <h5>Introdução  e Conceitos</h5>
                        <b>14:20</b>
                    </a>
                </li>
            </ul>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
            <mat-panel-title>
                Jenkins & Docker
            </mat-panel-title>
            <mat-panel-description>
                4 Aulas | 05:10:20
            </mat-panel-description>
            </mat-expansion-panel-header>
                <ul class="lista">
                    <li>
                        <a>
                            <img src="assets/img/play-button.svg"/>
                            <h5>Introdução  e Conceitos</h5>
                            <b>14:20</b>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="assets/img/play-button.svg"/>
                            <h5>Introdução  e Conceitos</h5>
                            <b>14:20</b>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="assets/img/play-button.svg"/>
                            <h5>Introdução  e Conceitos</h5>
                            <b>14:20</b>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="assets/img/play-button.svg"/>
                            <h5>Introdução  e Conceitos</h5>
                            <b>14:20</b>
                        </a>
                    </li>
                </ul>
        </mat-expansion-panel>
    </mat-accordion>
</div>