<app-navigation-header></app-navigation-header>
<mat-accordion [multi]="true" >
    <mat-expansion-panel [expanded]="'true'">
        <mat-expansion-panel-header>
        <mat-panel-title>
            <h2>Meus Cursos</h2>
        </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="lista-cursos">
            <div class="curso">
                <div class="rotulo">
                    <img src="assets/img/dummy.png"/>
                    <div class="duracao">
                        <img src="assets/img/clock.svg"/>
                        <span>20h</span>
                        <div class="avanco">
                            <div class="green">
                                20%
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
                <div class="nivel">
                    <mat-chip-list>
                        <mat-chip color="primary" selected>Avançado</mat-chip>
                        <mat-chip>HTML</mat-chip>
                        <mat-chip>CSS</mat-chip>
                        <mat-chip>JavaScript</mat-chip>
                    </mat-chip-list>
                </div>
            </div>
            <div class="curso">
                <div class="rotulo">
                    <img src="assets/img/dummy.png"/>
                    <div class="duracao">
                        <img src="assets/img/clock.svg"/>
                        <span>20h</span>
                        <div class="avanco">
                            <div class="green">
                                20%
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
                <div class="nivel">
                    <mat-chip-list>
                        <mat-chip color="primary" selected>Avançado</mat-chip>
                        <mat-chip>HTML</mat-chip>
                        <mat-chip>CSS</mat-chip>
                        <mat-chip>JavaScript</mat-chip>
                    </mat-chip-list>
                </div>
            </div>
            <div class="curso">
                <div class="rotulo">
                    <img src="assets/img/dummy.png"/>
                    <div class="duracao">
                        <img src="assets/img/clock.svg"/>
                        <span>20h</span>
                        <div class="avanco">
                            <div class="green">
                                20%
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
                <div class="nivel">
                    <mat-chip-list>
                        <mat-chip color="primary" selected>Avançado</mat-chip>
                        <mat-chip>HTML</mat-chip>
                        <mat-chip>CSS</mat-chip>
                        <mat-chip>JavaScript</mat-chip>
                    </mat-chip-list>
                </div>
            </div>
            <div class="curso">
                <div class="rotulo">
                    <img src="assets/img/dummy.png"/>
                    <div class="duracao">
                        <img src="assets/img/clock.svg"/>
                        <span>20h</span>
                        <div class="avanco">
                            <div class="green">
                                20%
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
                <div class="nivel">
                    <mat-chip-list>
                        <mat-chip color="primary" selected>Avançado</mat-chip>
                        <mat-chip>HTML</mat-chip>
                        <mat-chip>CSS</mat-chip>
                        <mat-chip>JavaScript</mat-chip>
                    </mat-chip-list>
                </div>
            </div>
            <div class="curso">
                <div class="rotulo">
                    <img src="assets/img/dummy.png"/>
                    <div class="duracao">
                        <img src="assets/img/clock.svg"/>
                        <span>20h</span>
                        <div class="avanco">
                            <div class="green">
                                20%
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
                <div class="nivel">
                    <mat-chip-list>
                        <mat-chip color="primary" selected>Avançado</mat-chip>
                        <mat-chip>HTML</mat-chip>
                        <mat-chip>CSS</mat-chip>
                        <mat-chip>JavaScript</mat-chip>
                    </mat-chip-list>
                </div>
            </div>
            <div class="curso">
                <div class="rotulo">
                    <img src="assets/img/dummy.png"/>
                    <div class="duracao">
                        <img src="assets/img/clock.svg"/>
                        <span>20h</span>
                        <div class="avanco">
                            <div class="green">
                                20%
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
                <div class="nivel">
                    <mat-chip-list>
                        <mat-chip color="primary" selected>Avançado</mat-chip>
                        <mat-chip>HTML</mat-chip>
                        <mat-chip>CSS</mat-chip>
                        <mat-chip>JavaScript</mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false" [expanded]="'true'">
        <mat-expansion-panel-header>
        <mat-panel-title>
            <h2>Cursos Disponíveis</h2>
        </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="lista-cursos">
            <div class="curso">
                <div class="rotulo">
                    <img src="assets/img/dummy.png"/>
                    <div class="duracao">
                        <img src="assets/img/clock.svg"/>
                        <span>20h</span>
                    </div>
                </div>
                <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
                <div class="nivel">
                    <mat-chip-list>
                        <mat-chip color="primary" selected>Avançado</mat-chip>
                        <mat-chip>HTML</mat-chip>
                        <mat-chip>CSS</mat-chip>
                        <mat-chip>JavaScript</mat-chip>
                    </mat-chip-list>
                </div>
            </div>
            <div class="curso">
                <div class="rotulo">
                    <img src="assets/img/dummy.png"/>
                    <div class="duracao">
                        <img src="assets/img/clock.svg"/>
                        <span>20h</span>
                    </div>
                </div>
                <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
                <div class="nivel">
                    <mat-chip-list>
                        <mat-chip color="primary" selected>Avançado</mat-chip>
                        <mat-chip>HTML</mat-chip>
                        <mat-chip>CSS</mat-chip>
                        <mat-chip>JavaScript</mat-chip>
                    </mat-chip-list>
                </div>
            </div>
            <div class="curso">
                <div class="rotulo">
                    <img src="assets/img/dummy.png"/>
                    <div class="duracao">
                        <img src="assets/img/clock.svg"/>
                        <span>20h</span>
                    </div>
                </div>
                <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
                <div class="nivel">
                    <mat-chip-list>
                        <mat-chip color="primary" selected>Avançado</mat-chip>
                        <mat-chip>HTML</mat-chip>
                        <mat-chip>CSS</mat-chip>
                        <mat-chip>JavaScript</mat-chip>
                    </mat-chip-list>
                </div>
            </div>
            <div class="curso">
                <div class="rotulo">
                    <img src="assets/img/dummy.png"/>
                    <div class="duracao">
                        <img src="assets/img/clock.svg"/>
                        <span>20h</span>
                    </div>
                </div>
                <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
                <div class="nivel">
                    <mat-chip-list>
                        <mat-chip color="primary" selected>Avançado</mat-chip>
                        <mat-chip>HTML</mat-chip>
                        <mat-chip>CSS</mat-chip>
                        <mat-chip>JavaScript</mat-chip>
                    </mat-chip-list>
                </div>
            </div>
            <div class="curso">
                <div class="rotulo">
                    <img src="assets/img/dummy.png"/>
                    <div class="duracao">
                        <img src="assets/img/clock.svg"/>
                        <span>20h</span>

                    </div>
                </div>
                <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
                <div class="nivel">
                    <mat-chip-list>
                        <mat-chip color="primary" selected>Avançado</mat-chip>
                        <mat-chip>HTML</mat-chip>
                        <mat-chip>CSS</mat-chip>
                        <mat-chip>JavaScript</mat-chip>
                    </mat-chip-list>
                </div>
            </div>
            <div class="curso">
                <div class="rotulo">
                    <img src="assets/img/dummy.png"/>
                    <div class="duracao">
                        <img src="assets/img/clock.svg"/>
                        <span>20h</span>

                    </div>
                </div>
                <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
                <div class="nivel">
                    <mat-chip-list>
                        <mat-chip color="primary" selected>Avançado</mat-chip>
                        <mat-chip>HTML</mat-chip>
                        <mat-chip>CSS</mat-chip>
                        <mat-chip>JavaScript</mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>