<header>
    <div class="page-title selected">
        <img src="assets/img/online-course.svg"/> <h2>Cursos</h2>
    </div>
    <div class="page-title">
        <img src="assets/img/interview.svg"/> <h2>Trabalhos</h2>
    </div>
</header>

<!-- <h2>Meus Cursos</h2>
<div class="lista-cursos">
    <div class="curso">
        <div class="rotulo">
            <img src="assets/img/dummy.png"/>
            <div class="duracao">
                <img src="assets/img/clock.svg"/>
                <span>20h</span>
                <div class="avanco">
                    <div class="green">
                        20%
                    </div>
                </div>
            </div>
        </div>
        <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
        <div class=""></div>
        <div class="nivel">
            <span><span>Avançado</span></span>
        </div>
        
    </div>
    <div class="curso">
        <div class="rotulo">
            <img src="assets/img/dummy.png"/>
            <div class="duracao">
                <img src="assets/img/clock.svg"/>
                <span>20h</span>
                <div class="avanco">
                    <div class="green">
                        20%
                    </div>
                </div>
            </div>
        </div>
        <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
        <div class=""></div>
        <div class="nivel">
            <span>Avançado</span>
        </div>
    </div>
    
</div>

<h2>Cursos Disponíveis</h2>
<div class="lista-cursos">
    <div class="curso">
        <div class="rotulo">
            <img src="assets/img/dummy.png"/>
            <div class="duracao">
                <img src="assets/img/clock.svg"/>
                <span>20h</span>
                <div class="avanco">
                    <div class="green">
                        20%
                    </div>
                </div>
            </div>
        </div>
        <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
        <div class=""></div>
        <div class="nivel">
            <span><span>Avançado</span></span>
        </div>
        
    </div>
    <div class="curso">
        <div class="rotulo">
            <img src="assets/img/dummy.png"/>
            <div class="duracao">
                <img src="assets/img/clock.svg"/>
                <span>20h</span>
                <div class="avanco">
                    <div class="green">
                        20%
                    </div>
                </div>
            </div>
        </div>
        <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
        <div class=""></div>
        <div class="nivel">
            <span>Avançado</span>
        </div>
    </div>
    
</div> -->


<div class="container">
    <div class="left">
        <div class="breadcrumb">
            <a>Cursos</a><img src="assets/img/right-arrow.png"/><a>Meus Cursos</a>
        </div>
    
        <h2>Design Thinking com Crianças e Jovens:  Aplicação e Exemplos</h2>
        <div class="description">Como usar essa Abordagem Inovadora com Jovens dentro e fora da Sala de Aula</div>
    </div>
    <div class="right">
        <div class="video">
            <img src="assets/img/video.png"/>
        </div>
    </div>
</div>

<div>
    <h4>O que você aprenderá</h4>
    

    <h4>Requisitos</h4>
    

    <h4>Descrição</h4>
    <p>Problemas em manter diversas instalações de Jenkins, e suas respectivas configurações? Quer construir sua plataforma de CI em um modelo robusto via Jenkins? Neste curso iremos tratar:</p>

    <h4>Conteúdo do curso</h4>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title>
                Introdução
            </mat-panel-title>
            <mat-panel-description>
                4 Aulas | 04:14:20
            </mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
                <li>
                    <a>
                        <img src="assets/img/play-button.svg"/>
                        <h5>Introdução  e Conceitos</h5>
                        <b>14:20</b>
                    </a>
                    
                </li>
            </ul>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
            <mat-panel-title>
                Jenkins & Docker
            </mat-panel-title>
            <mat-panel-description>
                4 Aulas | 05:10:20
            </mat-panel-description>
            </mat-expansion-panel-header>
            
        </mat-expansion-panel>
    </mat-accordion>
</div>