<app-navigation-header></app-navigation-header>
<h2>Meus Cursos</h2>
<div class="lista-cursos">
    <div class="curso">
        <div class="rotulo">
            <img src="assets/img/dummy.png"/>
            <div class="duracao">
                <img src="assets/img/clock.svg"/>
                <span>20h</span>
                <div class="avanco">
                    <div class="green">
                        20%
                    </div>
                </div>
            </div>
        </div>
        <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
        <div class=""></div>
        <div class="nivel">
            <span><span>Avançado</span></span>
        </div>
        
    </div>
    <div class="curso">
        <div class="rotulo">
            <img src="assets/img/dummy.png"/>
            <div class="duracao">
                <img src="assets/img/clock.svg"/>
                <span>20h</span>
                <div class="avanco">
                    <div class="green">
                        20%
                    </div>
                </div>
            </div>
        </div>
        <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
        <div class=""></div>
        <div class="nivel">
            <span>Avançado</span>
        </div>
    </div>
    
</div>

<h2>Cursos Disponíveis</h2>
<div class="lista-cursos">
    <div class="curso">
        <div class="rotulo">
            <img src="assets/img/dummy.png"/>
            <div class="duracao">
                <img src="assets/img/clock.svg"/>
                <span>20h</span>
                <div class="avanco">
                    <div class="green">
                        20%
                    </div>
                </div>
            </div>
        </div>
        <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
        <div class=""></div>
        <div class="nivel">
            <span><span>Avançado</span></span>
        </div>
        
    </div>
    <div class="curso">
        <div class="rotulo">
            <img src="assets/img/dummy.png"/>
            <div class="duracao">
                <img src="assets/img/clock.svg"/>
                <span>20h</span>
                <div class="avanco">
                    <div class="green">
                        20%
                    </div>
                </div>
            </div>
        </div>
        <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
        <div class=""></div>
        <div class="nivel">
            <span>Avançado</span>
        </div>
    </div>
    
</div>