<!--Initial-->
<!-- <div class="logo">
    <img src="assets/img/logo.svg"/>
</div>
<div class="buttons">
    <div>
        <h1>Trabalhos</h1>
        <img src="assets/img/interview.svg"/>
    </div>
    <div>
        <h1>Cursos</h1>
        <img src="assets/img/online-course.svg"/>
    </div>
</div>
<div class="footer">
    <a>
        <img src="assets/img/user.svg"/>
    </a>
    <a>
        <img src="assets/img/icon.svg"/>
    </a>
</div> -->

<!--Cursos-->
<header>
    <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
        <img src="assets/img/menu.svg"/>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <span><img src="assets/img/user.svg"/> Perfil</span>
        </button>
        <button mat-menu-item>
            <span><img src="assets/img/icon.svg"/> Configurações</span>
        </button>
    </mat-menu>  -->

    <div class="page-title">
        <img src="assets/img/online-course.svg"/> <h2>Cursos</h2>
    </div>
</header>
<h2>Meus Cursos</h2>
<div class="lista-cursos">
    <div class="curso">
        <div class="rotulo">
            <img src="assets/img/dummy.png"/>
            <div class="duracao">
                <img src="assets/img/clock.svg"/>
                <span>20h</span>
                <div class="avanco">
                    <div class="green">
                        20%
                    </div>
                </div>
            </div>
        </div>
        <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
        <div class=""></div>
        <div class="nivel">
            <span><span>Avançado</span></span>
        </div>
        
    </div>
    <div class="curso">
        <div class="rotulo">
            <img src="assets/img/dummy.png"/>
            <div class="duracao">
                <img src="assets/img/clock.svg"/>
                <span>20h</span>
                <div class="avanco">
                    <div class="green">
                        20%
                    </div>
                </div>
            </div>
        </div>
        <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
        <div class=""></div>
        <div class="nivel">
            <span>Avançado</span>
        </div>
    </div>
    
</div>

<h2>Cursos Disponíveis</h2>
<div class="lista-cursos">
    <div class="curso">
        <div class="rotulo">
            <img src="assets/img/dummy.png"/>
            <div class="duracao">
                <img src="assets/img/clock.svg"/>
                <span>20h</span>
                <div class="avanco">
                    <div class="green">
                        20%
                    </div>
                </div>
            </div>
        </div>
        <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
        <div class=""></div>
        <div class="nivel">
            <span><span>Avançado</span></span>
        </div>
        
    </div>
    <div class="curso">
        <div class="rotulo">
            <img src="assets/img/dummy.png"/>
            <div class="duracao">
                <img src="assets/img/clock.svg"/>
                <span>20h</span>
                <div class="avanco">
                    <div class="green">
                        20%
                    </div>
                </div>
            </div>
        </div>
        <h3>Jenkins em larga escala via Docker e Kubernetes</h3>
        <div class=""></div>
        <div class="nivel">
            <span>Avançado</span>
        </div>
    </div>
    
</div>
