
<div class="container">
    <div class="left">
        <div class="breadcrumb">
            <a>Cursos</a>
            <img src="assets/img/right-arrow.png"/>
            <a>Meus Cursos</a>
        </div>
    
        <h2>Design Thinking com Crianças e Jovens:  Aplicação e Exemplos</h2>
        <div class="description">Como usar essa Abordagem Inovadora com Jovens dentro e fora da Sala de Aula</div>
    </div>
    <div class="right">
        <div class="video">
            <img src="assets/img/video.png"/>
        </div>
    </div>
</div>