/*Variables*/
@primary: #4CB9E2;
@bluedark:#2B8DBF;
@secondary: #FFD98E;
@fonte: 'Roboto Condensed', sans-serif;

/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
background: #efefef;
}

::-webkit-scrollbar-thumb {
background: #ccc; 
}
.container{
    display: flex;
    background: #043B57;
    .left{
        color: #fff;
        font-family: @fonte;
        padding: 5%;

        a{
            color: #009dec;
            cursor: pointer;
        }
        .description{
            padding: 10px;
        }
        h2{
            color: #fff;
            font-size: 30px;
        }

        .breadcrumb{
            img{
                width: 10px;
                margin: 0 5px;
            }
        }
    }
    .right{
        
    }
}
header{
    background: @bluedark;
    display: flex;
    .page-title{
        display: flex;
        height: 90px;
        margin: 0 10px;
        &.selected{
            border-bottom: solid 5px #6ff8fd;
        }
        img{
            width: 70px;
        }
        h2{
            color: #fff;
            font-family: @fonte;
            font-size: 35px; 
            align-self: center;
            margin: 15px;
        }
    }
}
h2{
    margin: 0;
    padding: 0;
    font-family: @fonte;
    color: #717070;
    margin: 0 10px;
}
body{
    background: #f3f3f3;
    font-family: @fonte;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
.main{
    background: @primary;
    height: 100vh;
    width: 100vw;
}
.footer{
    display: flex;
    justify-content: center;
    padding: 2%;
    a{
        margin: 10px;
        cursor: pointer;
        img{
            width: 50px;
        }
        &:hover{
            opacity: .5;
        }
    }
}
.logo{
    text-align: center;
    width: 100%;
    height: auto;
    padding: 1% 0;
    img{
        width: 200px;
    }
}
.buttons{
    display: flex;
    justify-content: center;
    div{
        text-align: center;
        background: #2B8DBF;
        padding: 1%;
        margin: 1%;
        border-radius: 5px;
        width: 200px;
        height: 200px;
        box-shadow: 1px 1px 1px #00000014;
        cursor: pointer;
        h1{
            color: #fff;
        }
        img{
            width: 60px;
            height: auto;
        }
        &:hover{
            background: @secondary;
        }
    }
}
.mat-menu-item{
    background: @bluedark;
    color: #fff;
    img{
        width: 20px;
    }
}
.mat-icon-button{
    background: transparent;
}

.lista-cursos{
    display: flex;
    overflow: auto;
    .curso{
        box-shadow: 1px 1px 1px #00000057;
        cursor: pointer;
        background: #fff;
        border-radius: 20px 0 20px 0;
        flex: 1;
        max-width: 320px;
        min-width: 300px;
        margin: 10px;
        &:hover{
            background: @bluedark;
            h3{
                color: #fff;
            }
        }
        .avanco{
            background: #efefef30;
            font-family: 'Roboto Condensed', sans-serif;
            padding: 3px;
            flex: 1;
            height: 16px;
            div{
                height: 16px;
                color: #fff;
                width: 20%;
                padding: 0 5px;
                &.green{
                    background: #8dd072;
                }
            }
        }
        h3{
            color: @bluedark;
            padding: 0 10px;
            float: left;
            margin: 10px;
        }
        .nivel{
            font-family: @fonte;
            color: @bluedark;
            span{
                padding: 10px;
            }
        }
        .rotulo{
            img{
                width: 100%;
            }
            
            .duracao{
                z-index: 2;
                display: flex;
                background: @bluedark;
                padding: 5px;
                font-size: 18px;
                margin-top: -5px;
                font-family: @fonte;
                font-weight: 800;
                color: #fff;
                img{
                    width: 20px;
                    height: 18px;
                }
                span{
                    margin-right: 5px;
                    font-size: 23px;
                }
            }
        }
    }
}